
html {
    margin: 0;
    padding: 0;
    background: url(cool-red-black-wallpaper-backgrounds.jpg) no-repeat center center fixed;
    
    background-size: cover;
	}
body { 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #555753; 

	margin: 0; 
	padding: 0;
	}
#logo{
    width: 950px;
    height:2000px;
    border: solid red 8px;
    background-color: darkred;
    margin-top: -30px;

}
.heady
{   font-family: 'Pacifico';
    font-size: 50px;
    color: black;
    line-height: 0px;

}
table,td{

    border: 1px solid lightgrey;
    border-collapse: collapse;
    table-layout: fixed;


}
td{
    text-align: center;
    color:lightgrey;
    font-size: 19px;
    font-family: arial;
}
th,td{
padding: 5px;
}
.sent{
    font-family: arial;
    font-size: 19px;
    color: lightgrey;
}
a.button {
    border: 1px solid darkred;
    background: red;
    border-radius: 25px;
    top: 20px;
}

